body, html{
    height: 100%;
    overflow: hidden;
}
main{
    background: url('../img/bg.jpg');
    background-position: 0 60px ;

    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;


}
header{
    position: fixed;
    height: 60px;
    background-color: white;
    z-index: 40000;
    width: 100%;
    padding: 10px;
}
.grille{
    height: 100%;
    background-image: url('../img/grille.png');
    display: flex;
    align-items: center;

}
img{
    width: 200px;
    top:0;
}
.input-group, .btn{
margin: 10px 0 10px 0;
    width: 100%;
}
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    text-align: center;
    width: 100%;
    margin: 0 0 20px 0;
    align-items: center;
}
.retour{
    margin: auto;
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;

}
.retour i{
    font-size: 1.5em;
    position: relative;
    left : 2px;
}
.table{
    text-align: center;
    font-size: 1.1em;
}
th{
    text-align: center;
}
title{
    font-size: 1.1em;
}
.conteneur{
    margin: 10px 40px 0 40px;
    font-size: 20px;
}
.red{
    color: #8F010C;
}
.blue{
    color: #1B1463;
}
.date-btn, .map-btn{
    border: none;
}
.panel-body{
    padding-top: 0;
    padding-bottom: 0;
}
.panel-heading{
    padding-top: 0;
    padding-bottom: 0;
}
.date-btn , .map-btn{
    margin-top: 0;
}
.labelo{
    width: 80px;
}

#map {
    height: 40vh;
}
/*body{*/
  /*background-image: url('../img/bg.jpg');*/
  /*background-position: center;*/
  /*background-size: cover;*/
  /*background-repeat: no-repeat;*/
  /*display: flex;*/
  /*flex-flow: row wrap;*/
  /*justify-content: space-around;*/
/*}*/
/*#logo{*/
  /*width: 90%;*/
  /*margin-left: 10%;*/
/*}*/
/*.ui-widjet{*/
  /*width: 320px;*/
  /*height: 480px;*/
  /*text-align: center;*/
  /*display: flex;*/
  /*flex-flow: column wrap;*/
  /*margin-top: 90px;*/
/*}*/
/*input {*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  /*margin-top: 3%;*/
/*}*/

/*input[type=text]:focus {*/
    /*border: 2px solid #555;*/
/*}*/
/*input[type=submit] {*/
    /*background-color: #D12D11;*/
    /*border-radius: 5px 5px;*/
    /*color:white;*/
    /*padding: 3% 0;*/
    /*!*font-family: 'Bubbler One', sans-serif;*!*/
    /*font-size: 1.5em;*/
    /*margin-bottom: 4%;*/
    /*margin-top: 6%;*/
    /*width: 70%;*/
/*}*/
/*@media screen and (min-height: 768px){*/
  /*.ui-widjet{*/
    /*height: 768px;*/
    /*width: 360px;*/
    /*margin-top: 150px;*/
  /*}*/
  /*input[type=submit]{*/
    /*width: 55%;*/
  /*}*/
/*}*/
